body{
    text-align: center;
    background-color:lightcyan

}
#container{
    margin-left: 350px;
    margin-right: 250px;
    margin-top: 60px;
}
input{
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    width:200px;
    text-align: center;
    background-color: rgb(241, 192, 192);
    
}
button{
    padding: 8px;
     border-radius: 5px;
     background-color: rgb(184, 184, 230);
     font-size: 14px;
}
span{
    font-size: 20px;
}